<h3>Welcome, <%= @user.username %></h3>

<h3>Index of tweets:</h3>
<% @users = User.all %>
<% @users.each do |user| %>
  <p style="font-weight:bold;"><%= user.username %></p>
  <% if user.tweets.empty? %>
    <p>No tweets yet!</p>
  <% else %>
    <% user.tweets.each do |tweet| %>
    <ul>
      <a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a>
    </ul>
    <% end %>
  <% end %>
<% end %>

<a href="/users/<%= @user.slug %> ">View Your Tweets</a>
<br>
<a href="tweets/new">Create a New Tweet</a>
<br>
<a href="/">Return Home</a>
<br><br>
<form class="" action="/logout" method="get">
  <input type="submit" name="" value="Logout">
</form>
