<h3>Tweet</h3>
<%= @tweet.content %>

<h3>Author</h3>
<a href="/users/<%=@tweet.user.slug%>"><%= @tweet.user.username %></a>
<br>
<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
<br>
<form action="/tweets/<%=@tweet.id%>" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Tweet">
</form>
