<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Your Tweet</h1>
<h3>@<%=@tweet.user.username%>: <%=@tweet.content%></h3>

<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a><br>
<form action="/tweets/<%=@tweet.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="delete" value="Delete Tweet">
</form>

<a href="/users/<%=@tweet.user.slug%>">Your tweets</a><br>
<a href="/tweets">See all tweets</a>
