tweets.show.erb

<p><%= @user %>
<p><%= @tweet.content %>

<form method="post" action="/tweets/<%=@tweet.id%>/delete">
<input id="hidden" type="hidden" name="_method" value="delete">
<p><%= @tweet.content %>

<input type="submit" name="delete tweet" value="Delete Tweet">
</form>

<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet </a>
