<!-- create an edit link on the tweet show page. -->
<h2><%= @tweet.user.username %>, Tweet ID: <%= @tweet.id %></h2>

<%= @tweet.content %>
<br><br>

<form>
  <button id="EditTweet" type="submit" formaction="/tweets/<%= @tweet.id %>/edit">Edit Tweet</button>
</form>
<!-- form to delete a tweet should be found on the tweet show page.
  delete form doesn't need to have any input fields, just a submit button
form to delete a tweet should be submitted via a POST request to tweets/:id/delete
-->
<form action="/tweets/<%= @tweet.id %>/delete" method="get">
  <input type="submit" id="submit" value="Delete Tweet">
</form>
