<h1><%= @tweet.content %></h1>

<h2><a href="/users/<%= @tweet.user.slug %>"><%= @tweet.user.username %></a></h2>

<h3><a href="/tweets/<%= @tweet.id %>/edit">Edit This Tweet</a></h3>
<h3><a href="/tweets/<%= @tweet.id %>/delete">Delete This Tweet</a></h3>
