<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1> <a href="/tweets/new">Create New Tweet</a> </h1>
    
    <h1> <a href="/logout">Logout</a></h1>

    <h1> <%= @tweet.content %> </h1>
    <h2> -- <a href="/users/<%= @tweet.user.slug %>"> <%= @tweet.user.username %> </a>  </h2>

    <form class="" action="/tweets/<%= @tweet.id %>/edit" method="get">

      <input type="submit" name="" value="Edit Tweet">

    </form>

    <form class="" action="/tweets/<%= @tweet.id %>/delete" method="post">

      <input type="submit" name="" value="Delete Tweet">

    </form>

  </body>
</html>
