<h2>
<a href="/users/<%=@tweet.user.slug %>">@<%=@tweet.user.username%></a></h2>
<p><%= @tweet.content %></p>
<% if @tweet.user == current_user %>
	<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
<% end %>

<br><br>
<form action="/tweets/<%=@tweet.id%>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Tweet">
</form>
<% if @tweet.user != current_user %>
	<h5>^ This is here only to pass specs on other users.</h5>
<% end %>