<%= @tweet.content %>

<form action="/tweets/<%=@tweet.id%>/delete" method="post">
<input id="hidden" type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete Tweet">
</form>
<button onclick="window.location.href = '/tweets/<%=@tweet.id%>/edit';">Edit Tweet</button>
<button onclick="window.location.href = '/tweets';">Show All Tweets</button>

<!--<button><a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a></button>-->
<!-- <button onclick="/tweets/<%=@tweet.id%>/edit">Edit Tweet</button> -->
