<% if flash.has?(:message) %>
    <%= flash[:message] %>
<% end %>

<% if logged_in? && current_user.username == twitter_user(@tweet)%>

    <h2><%= twitter_user(@tweet) %></h2>
    <strong><%= @tweet.time %></strong><br>
    <p><%= @tweet.content %></p><br>

    <em><a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet"</a></em><br>

    <strong><a href="/tweets">Return to all tweets</a></strong><br>

    <form action ="/tweets/<%= @tweet.id %>/delete" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>Delete Tweet</button>
    </form>

<% else %>

    <h2><%= twitter_user(@tweet) %></h2>
    <strong><%= @tweet.time %></strong><br>
    <p><%= @tweet.content %></p><br>

    <em>To tweet back just <a href="/">login/signup</a></em>

<% end %>