
<div class="tweet--card">
	<h3><%= @tweet.user.username %> <%= "@#{@tweet.user.slug}" %></h3>
	<p><%= @tweet.content %></p>
	<a class="fwitter_button button button--edit" href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
	<form method="post" action="/tweets/<%=@tweet.id%>/delete">
		<input type="hidden" name="_method" value="delete">
		<input class="fwitter_button button button--delete" type="submit" value="Delete Tweet">
	</form>
	
</div>

