<p>Logged in as: <%= current_user.username %></p>
<h2><label> Tweet Tweet</label></h2>

<!-- <h2><a href="/users/<%=@tweet.user.slug%>"><%= @tweet.user.username %></a>: <%= @tweet.content %> </h2>
    <% if current_user == @tweet.user %>
      <a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a>
      <br></br>
      <form method="post" action="/tweets/<%=@tweet.id%>/delete">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" name="Delete Tweet" value="Delete Tweet">
      </form>
    <% end %>
<br> -->

<p><%= @tweet.user.username %>: <%= @tweet.content %>

<form method="post" action="/tweets/<%=@tweet.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Tweet">
</form>

<br>

<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet </a>

<p><label><a href="/logout">Log Out</a></label></p>
