<form method="POST" action="/tweets/<%=@tweet.id%>/delete">  
  Tweet # <%=@tweet.id%> | <a href="/tweets/<%=@tweet.id%>"><%= @tweet.content %></a>
  <input type="submit" value="Delete Tweet"> 
</form>

<a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet </a>
