<h1>Welcome, <%= @user.username %></h1>

<!-- <h3>Tweets</h3>
<% @tweets.each do |tweet| %>
  <%= tweet.user %> <br>
  <%= tweet.content %> <br>
<% end %> -->

<!-- having trouble getting the user's names to appear.  Finally solved below. -->
<!-- Finally remembered that USERs have Many tweets, and I could -->
<!-- iterate through USERs first, and THEN iterate through tweets -->



<h2>Tweets</h2>
<% @users.each do |user| %>
  <h3><%= user.username %></h3>
  <% user.tweets.each do |tweet| %>
    <%= tweet.content %> <br>
  <% end %>
<% end %>
