<!DOCTYPE html>
<head>
  <title>Tweet Show Page</title>
</head>
<body>
  <h3>Tweet <%=@tweet.id%></h3>
  <%=@tweet.content%><br></br>
  <a href="/tweets/<%=@tweet.id%>/edit">
    <input type="button" value="Edit Tweet">
  </a>
  <p>
  <form method="post" action="/tweets/<%=@tweet.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" id="Delete Tweet" value="Delete Tweet"></p>
  </form><br>

  <a href="/tweets"><input type="button" value="All Tweets"></a>
  <a href="/users/<%=@user.slug%>"><input type="button" value="Your Tweets"></a>
</body>
</html>