<h1>Welcome, <span class="loggedin"><%= current_user.username %></span>!</h1>
<% if logged_in?%>
	<a href="/tweets/new">Create New Tweet</a><br>

	<% if @message %>
	<a href="/users/<%= @user.slug %>">View all my tweets</a><br>
	<% else %>
	<a href="/tweets">View all tweets</a><br>
	<% end %>
<% end %>
<h2>Tweets
	<% if !@message %> 
		(<%= @user.username %>)
	<% else %>
		(all users)
	<% end %>:</h2>

<% if !@tweets.empty? %>
<% @tweets.each do |tweet| %>
	<p><a href="/tweets/<%= tweet.id %>"><%= tweet.content %> - <%= tweet.user.username %></a></p>
	<% end %>

<% else %>
	<h4><span class="notweets">No tweets.</span></h4>
	<% end %>

