<h1>Welcome, <%=@user.username%></h1>

<%if !@tweets.empty?%>
  <%@tweets.each do |tweet|%>
    <ul>
      <li>
        <a href="/tweets/<%=tweet.id%>"> <%=tweet.id%> </a>
      </li>
      <li>
        <%=tweet.content%>
      </li>
    </ul>
  <%end%>
<%else%>
  <%="No tweets at this time. Click the create tweet link to start creating"%>
<%end%>

</br>

<a href="/tweets/new">Create Tweet</a>

</br>
<form action="/logout" method="GET">
  <input type="submit" value="Logout">
</form>
<a href="/logout">Logout</a>