<!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <title>Your Fwitter Page</title>
</head>
<body>

    <h1>Welcome, <%= current_user.username%>!</h1>
    <br><br>
    <h2><u>Latest Tweet Activity</u></h2>
    <ul>
    <% @tweets.each do |tweet| %>
      <li><%=tweet.content %> tweeted by: <a href="/users/<%= tweet.user.slug %>"><%= tweet.user.username %></a>
    <br><br>
    <% end %>
    </ul> 
    <br>

    <h2><u>My Tweets</u></h2>
    <ul>
    <% @user.tweets.all.each do |tweet| %>
    <li><a href="/tweets/<%=tweet.id%>"><%=tweet.content %></a></li><br>
    <% end %>
    </ul>

    <br>

    <a href="/tweets/new"><button>Create New Tweet</button></a>
    <br><br>

    <a href="/logout"><button>Log Out</button></a>
</body>
</html>