<div class="section-align">
  <span class="alignleft"><h2 >Welcome, <%=@user.username%></h2></span>
  <span class="alignright"><a href="/logout">Logout</a></span>
</div>

<div class="clear-fix grid-container">
  <div class="grid-item">
    <div class="section-align">
      <h3 class="alignleft">Your Tweets....</h3>
      <a class="alignright" href="/tweets/new">Create Tweet</a>
    </div>

    <ul class="clear-fix">
      <% @user_tweets.each do |tweet| %>
        <li class="section-align">
          <h5 class="alignleft"><%=tweet.content%></h4>
          <a class="alignright" href="/tweets/<%=tweet.id%>/edit">Modify</a>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="grid-item">
    <h3>All Tweets....</h3>
    <ul>
      <% @tweets.each do |tweet| %>
        <li><%=tweet.content%> : <%=tweet.user.username%></li>
      <% end %>
    </ul>
  </div>
</div>
