
    <h1>Welcome, <%=current_user.username%></h1>
    <h2>Tweets:</h2>
    <ul>
    <% @tweets.each do |tweet| %>
      <li><a href="/tweets/<%=tweet.id%>"><%=tweet.content%></a></li>
    <%end%>
    </ul>
    <p><a href="/tweets/new">Create New Tweet</a></p>
    <br>
    <a href="/logout">Log Out</a>
    <br>
    <h2>All Tweets on Fwitter:</h2>
    <%Tweet.all.each do |tweet|%>
    <p><%=User.find(tweet.user_id).username%> - <%=tweet.content%></p>
    <%end%>
