<head>
	<script src="http://code.jquery.com/jquery-1.5.js"></script>
    <script>
      function countChar(val) {
        var len = val.value.length;
        if (len >= 150) {
          val.value = val.value.substring(0, 150);
        } else {
          $('#charNum').text(150 - len);
        }
      };
    </script>
</head>
<body class="background-color">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navbar-center" href="/">fwitter</a>
    </div>
    <div  class="padding-right">
    <ul class="nav navbar-nav navbar-right">
    	<li class="left-divider"><a href="/logout"><span class="glyphicon glyphicon-log-out gi-2x"></span></a></li>

    	<li><form method="get" action="/tweets/new" ><button class="btn btn-md btn-info btn-block roundify navbtn" type="submit"><strong>tweet</strong></button></form></li>
    </ul>
    </div>
  </div>
</nav>

<div class="container">
	<div class="row">

	  <div class="col-md-3">
	     <div class="col-md-12 content-box">
	     	<div class="row">
	     	<div class="col-md-4">
		     	<a href="#" class="profile-pic">
	  				<div class="profile-pic" style="background-image: url(../images/profile.jpg)" >
	      		<span class="glyphicon glyphicon-camera">       </span>
	      		<span>Change Image</span>
	  				</div>
					</a>
				</div>
					<div class="col-md-8">
	        	<h4>@<%=@user.username%></h4>
	        	<p>Tweets: <%= @user.tweets.size%></p>
	      	</div>
	     </div>
	     </div>
	  </div>

	  	<div class="col-md-6">
	  	<div class="col-md-12 content-box">
		  	<div>
			  	<form method="post" action="/tweets/new">
			  		<div class=" col-md-12 small-spacer"></div>
			  		<textarea class="form-control" name="tweet_content" id="field" onkeyup="countChar(this)" maxlength="150" rows="3"></textarea>
			  		<div class=" col-md-12 small-spacer"></div>
			  		<div class="pull-left" id="charNum"></div>
			        <button class="btn btn-sm pull-right btn-info roundify" type="submit"><strong>tweet</strong></button>
			    	<div class=" col-md-12 small-spacer"><br></div>
			    </form>
			</div>
	  	</div>
	  	<div class=" col-xs-12 spacer"></div>
	     	<br>
	     	<%tweets =  @tweets.all.sort_by{|tweet|tweet.created_at}.reverse%>
	        <% tweets.each do |tweet|%>
	        	<div class="col-md-12 content-box">
	        		<h6><%="@#{tweet.user.username} - #{tweet.created_at.localtime}"%></h6>
	        		<br>
	        		<a href="/tweets/<%=tweet.id%>" class="no-style"><p><%=tweet.content%></p></a>
	        	</div>
	        	<div class="col-xs-12 xs-spacer"></div>
	        <% end %>
	        <br>
	  </div>

	  <div class="col-md-3">
	     <div class="col-md-12 content-box">
	        <h4><strong>Who to Follow</strong></h4>
	        <%User.all.each do |user|%>
	        	<%next if user.id == @user.id%>
	        	<div class="row bottom-border">
		        	<div class="col-sm-4"><div class="profile-badge" style="background-image: url('https://imgur.com/a/3z6vR')" ></div></div>
		        	<div class="col-sm-8">
		        		<h6><%="@#{user.username}"%></h6>
		        		<button class="btn btn-sm btn-primary roundify pull-left" type="submit"><strong>follow</strong></button>
		        		<div class=" col-md-12 small-spacer"></div>
		        	</div>
	        	</div>
	        <%end%>
	     </div>
	  </div>
	</div>
	<!-- end of row -->
</div>
</body>
