<h2>Welcome, <%= @user.username %>!</h2>
<form action="/tweets/new">
    <input type="submit" value="New Tweet" />
</form>
<hr>
<% @tweets.each do |tweet| %>
  <ul>
    <li><%= tweet.content %> <em>by <a href="/users/<%= tweet.user.slug %>"><%= tweet.user.username %></a></em></li>
  </ul>
<% end %>
<hr>
<em>You are currently logged in as <%= current_user.username %></em>
<br><br>
<form action="/logout">
    <input type="submit" value="Logout" />
</form>

