<h1>Welcome, <%= @user.username %></h1>

<h2>View Your <a href="/users/<%= @user.username %>">Profile</a></h2>

<% if @tweets.count == 0 %>
  You haven't tweeted yet!
<% else %>
  <h2>Fwitter Feed:</h2>
  <ul>
  <% @tweets.reverse.each do |tweet| %>
    <li><a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a> by <a href="/users/<%= tweet.user.username %>"><%= tweet.user.username %></a></li>
  <% end %>
  </ul>
<% end %>
</p>

<hr>
<a href="/tweets">Home</a></p>
<a href="/tweets/new">Tweet</a></p>
Logged in as <a href="/users/<%= current_user.username %>"><%= current_user.username %></a>. <a href="/logout">Logout</a>
