<h2>Welcome, <%=@user.username%></h2>

<%Tweet.all.each do |tweet|%>

  <%if @user != User.find(tweet.user_id)%>
    <%@friend = User.find(tweet.user_id)%>
    <p><%=@friend.username%></p>
    <p><%=tweet.content%></p>

  <%else%>
    <p><%=@user.username%></p>
    <p><%=tweet.content%></p>
    <br/>

  <%end%>
<%end%>