<h1>Welcome, <%= current_user.username if logged_in? %></h1>
<a href="/tweets/new" class="fwitter_button button button--tweet button--primary">Tweet</a>

	<% @tweets.each do |tweet| %>
		<div class="tweet--card">
			<h3><%= tweet.user.username %> <%= "@#{tweet.user.slug}" %></h3>
			<p><%= tweet.content %></p>
			<% if current_user.tweets.include?(tweet) %>
				 <a class="fwitter_button button button--edit" href="/tweets/<%=tweet.id%>">Edit</a>
			<% end %>
		</div>
	<% end %>
