<h2>Welcome, <%= current_user.username %></h2>
  <% @tweets.each do |tweet|%>
    <h4><li>
      <a href="/tweets/<%=tweet.id%>"><%= tweet.content %></a></h4>
      <p><%= tweet.created_at %>
  <%end%>




<p><a href="/tweets/new">New Tweet</a> |
<a href="/users/<%=current_user.slug%>">Your tweets</a> |
<a href="/logout">Logout</a></p>
