<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<p>Welcome, <%= current_user.username %>. You are now logged in and can see all of the tweets on the Fwitter Land.</p>

<% Tweet.all.each do |tweet| %>
    <a href="/tweets/<%=tweet.id%>"><p> <%= tweet.content %> </p></a>
    <p> -by <%= tweet.user.username %></p>
<% end %>

<form action="/tweets/new" method="GET">
    <input type="submit" value="Add new tweet!">
</form>

<p><a href="/logout">Log Out</a></p>