<h2>Welcome, <%= @user.username %></h2>

<% Tweet.all.each do |tweet| %>
  <p><%= tweet.content %></p>
  <p>&nbsp&nbsp&nbsp-&nbsp<a href"/users/<%= tweet.user.slug %>"><%= tweet.user.username %></a></p>
  <p><a href="/tweets/<%= tweet.id %>">View Page<a></p>
  <br></br>
<% end %>

<br></br>
<a href="/users/<%= @user.slug %>">My Account</a>
<br></br>
<a href="/logout">Log Out</a>
