<h1>Welcome, <%= Helpers.current_user(session).username %></h1>

<form action="/tweets/new" method="get">
		<input type="submit" value="New Tweet" />
	</form>
<form action="/users/<%=Helpers.current_user(session).slug%>" method="get">
		<input type="submit" value="Your Tweets" />
	</form>

<h3>All Tweets:</h3>

<%@tweets.all.each do |tweet|%>
<ul><a href="/tweets/<%= tweet.id %>"><%= tweet.id %></a>
	<%@user = User.find_by_id(tweet.user_id)%>
	<a href="/<%= @user.slug%>"><%=@user.username%></a>:
   <%= tweet.content %></ul>
  <%end%>
