<h1>Welcome, <%= current_user.username %></h1>

<a href="/tweets/new">Create a New Tweet</a>
<br>
<h3>Tweets</h3>
<ul>
  <% @tweets.each do |tweet| %>
  <li><a href="/users/<%=tweet.user.slug%>"><%=tweet.user.username%></a>- <a href="/tweets/<%=tweet.id%>"><%=tweet.content%></a></li>
  <% end %>
</ul>
