<h1><%if @user == current_user %>Your<% else %><%= @user.username %>'s<% end %> tweets</h1>
<% tweets = @user.tweets.sort_by {|tweet| tweet.id}.reverse %>
<% tweets.each do |tweet| %>
  <div class="tweet">
    <div class="username">
      <a href="/users/<%= tweet.user.slug %>">@<%= tweet.user.username %></a>
    </div>
    <div class="tweet-text">
      <a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a>
    </div>
  </div>
<% end %>
