
<h3><%= @user.username %> tweets</h3>
<ul>
  <% @user.tweets.each do |tweet| %>

<h3>Welcome, <%= @current_user.username %></h3>
<a href="/tweets/new">Create a new tweet!</a><br>
<ul>
  <% Tweet.all.each do |tweet| %>

    <li><%= tweet.user.username %> says <a href="/tweets/<%= tweet.id %>"><%= tweet.content %></a></li>
  <% end %>
</ul>
<br><br><br>
<a href="/logout">Logout</a>
