<h1> Create New Figure </h1>
	  <form action="/figures" method="POST">
	  <h3> Name <input type="text" name="figure[name]" id="figure_name"></h3><br><br>

	  <h3>Titles</h3>
	  <%Title.all.each do |title| %>
	 	<p><%= title.name %><input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%= title.id %>"><p>
	  <%end%>
	  <h3>Create New Title: </h3>
	  <input type="text" name="new_title" id="title[name]"><br><br>

	  <h3>Landmarks</h3>
	  <%Landmark.all.each do |landmark| %>
	  	<p><%= landmark.name %>  <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value="<%= landmark.id %>"><p>
   	  <%end%>

	  <h3>Create New Landmark:</h3>
	  Name: <input type="text" name="new_landmark" id="landmark[name]">
	  Year: <input type="text" name="new_year_constructed">
	  <button type="submit" name="create_figure">Create New Figure</button>
  </form>
