<div class="well">
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-unstyled">
              <% Category.all.each do |cat| %>
                <li><a href="/category/<%=cat.id%>"><%=cat.name%></a>
                </li>
              <% end %>
            </ul>
        </div>
      </div>
    </div>
    
<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <!-- Blog Post -->

      <% Post.all.each do |post|%>
      <h2>
          <a href="/posts/<%= post.id %>"><%= post.title %></a>
      </h2>
      <p><span class="glyphicon glyphicon-time"></span> Posted on <%= post.created_at.to_date %></p>
        <p><%= post.content %></p>
      <% end %>
    </div>
  </div>
