
<h1>Welcome, <%= @current_user.username %></h1>

<% if flash.has?(:message) %>
  <h3><%= flash[:message] %></h3>
<% end %>

<h2>Here are all of the tweets</h2>

<% User.all.each do |user| %>
  <h3><%= user.username %></h3>
  <ul>
    <% user.tweets.each_with_index do |tweet, index| %>
      <li><%= index + 1 %>. <%= tweet.content %></li>
    <% end %>
  </ul>
<% end %>

<a href="/tweets/new">Create a new tweet</a>

<a href="/logout" style="display: block;">Log Out</a>
